# Core Libraries
safetensors<0.4.3
ultralytics
torch
torchvision

# Data Handling & Image Processing
tifffile
numpy<2.0
opencv-python

# For U-Net Segmentation Model
albumentations
timm
tensorboard
scikit-learn

# For SAM-based Segmentation
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git

# For Segmentation Evaluation
segmentation_models_pytorch

# Utilities & File I/O
pyyaml
geojson
shapely
pandas
tqdm 
zarr
