# Core Libraries
safetensors<0.4.3
ultralytics
torch
torchvision

# Data Handling & Image Processing
tifffile
numpy<2.0
opencv-python

# For Segmentation Model
segmentation-models-pytorch
albumentations
timm
tensorboard

# Utilities & File I/O
pyyaml
geojson
shapely
pandas
tqdm 
zarr
